<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="XMLConfigTest"
               packages="org.apache.logging.log4j.test">
    <Properties>
        <Property name="filename">test.log</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="info"/>

    <Appenders>
        <Appender type="File" name="File" fileName="${filename}">
            <Layout type="PatternLayout">
                <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>
            </Layout>
        </Appender>
    </Appenders>

    <Loggers>
        <Logger name="org.apache.logging.log4j.test" level="info" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
    </Loggers>

</Configuration>